$primaryColor: #691B31;
$primaryDarkColor: #2E7D32;
$primaryLightColor: #691B31;
$accentColor: #DDC9A3;
$accentDarkColor: #4527A0;
$accentLightColor: #f9a825;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';